@import url('https://fonts.googleapis.com/css?family=Arsenal|Kavivanar');
 .MMM-Wifi .wifi{
  color: white; 
  font-family: 'Arsenal';
  font-size: .6em;
  line-height: 130%;
}


ul li {
	list-style-type: none;
}
